.cybersous-chef-container {
  height: 90vh;
  width: 100%;
  font-family: monospace;
  --as-gutter-background-color: #16213E;
  border-bottom: solid 10px #16213E;
}
.pane {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;
  height: 100%;
}
.pane textarea {
  flex-grow: 1;
  color: #F7F0F0;
  border: none;
  padding: 0.5rem;
  resize: none;
  font-family: monospace;
  font-size: 1rem;
  background-color: #1A1A2E;
}
.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #36F1CD;
  color: #36F1CD;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: #16213E;
  font-size: 14px;
}
.drop-list {
    height: 90%;
}

.operations .cdk-drag-placeholder {
    display: none;
}

h3 {
  margin: 10px;
}

footer {
  margin-top: 4vh;
  color:#F7F0F0;
}

a {
  color: #F7F0F0;
  transition: color 0.3s ease;
}
a:hover {
  color: #36F1CD!important;
}