<div class="cybersous-chef-container">
  <as-split direction="horizontal" restrictMove="true" cdkDropListGroup>
    <as-split-area [size]="30">
        <h3>Operations</h3>
        <div
            cdkDropList
            [cdkDropListData]="operations"
            cdkDropListSortingDisabled
            class="drop-list operations"
            (cdkDropListDropped)="drop_recipe($event)">
            @for (item1 of operations; track item1) {
                <div class="example-box" 
                    cdkDrag 
                    (cdkDragStarted)="exited($event)" 
                    [cdkDragData]="item1">
                    {{item1.name}}
                </div>
                <div class="example-box" *ngIf="transferringItem === item1">
                    {{item1.name}}
                </div>
            }
        </div>
    </as-split-area>
    <as-split-area [size]="30">
        <h3>Recipe</h3>
        <div
            cdkDropList
            [cdkDropListData]="recipe"
            class="drop-list recipe"
            (cdkDropListDropped)="drop($event)">
            @for (item of recipe; track item) {
                <div class="example-box" cdkDrag [cdkDragData]="item">{{item.name}}</div>
            }
        </div>
    </as-split-area>
    <as-split-area 
        [size]="40" 
        >
            <as-split direction="vertical" restrictMove="true">
                <as-split-area [size]="50">
                    <div class="pane">
                        <h3>Input</h3>
                        <textarea [(ngModel)]="inputText" (input)="runOperation()" placeholder="> Type your input here..."></textarea>
                    </div>
                </as-split-area>
                <as-split-area [size]="50">
                    <div class="pane">
                        <h3>Output</h3>
                        <textarea [value]="outputText" readonly></textarea>
                    </div>
                </as-split-area>
            </as-split>
    </as-split-area>
  </as-split>
</div>
<footer>Inspired by <a class="" href="https://gchq.github.io/CyberChef/" target="_blank" rel="noreferrer">CyberChef</a></footer>